[% MACRO spacing(text) PERL %]
    my $n = $stash->get('text');
    print " " x ( 15 - length($n));
[% END -%]
:> 
:> Welcome to the Scrappy interactive development interface...
:> please choose from the following list of options.
:> 
:> Here is a list of available commands...
:> execute a command by name, followed by a ;
:> e.g. command_name;
:> 
[%- FOREACH c = s.stash.commands.keys.sort %]
:> [%- c -%];[% spacing(c) %][%- s.stash.commands.$c.help -%]
[% END %]
:> 